      .codeBlock {
        background-color:bisque;
        border: 1px solid black;
      }
      li {
        margin-top: 5px;
      }
      #x3Spot {
        border: 3px inset lightskyblue;
      }
      #openSCAD {
        background-color:azure;
        border: 1px solid black;
      }
      .openScadOutput {
        background-color:azure;
        border: 1px solid black;
      }